.h {
  display: block;
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  align-items: center;
  padding: 20px 120px;
}

.ul {
  display: flex;
  font-size: 20px;
  li {
    margin-right: 20px;
  }
}

.img {
  height: 90px;
  margin-right: 20px;
}

.logo {
  display: flex;
  align-items: center;
  color: #121212;
}

.link-head{
  color: #121212;
  transition: 100ms;
  &:hover{
    color: rgba(18, 18, 18, 0.5);
  }
}