.section {
  display: flex;
  justify-content: space-around;
  margin: 120px 90px;
}

.first-section {
  border-radius: 50px;
  // padding: 30px;
  background-color: #c3a995;
  color: white;
  font-size: 24px;
  width: 40vw;
  padding-bottom: 30px;
}

.ul-1 {
  text-indent: 30px;
}

.mg {
  margin-left: 30px;
}

.block-1 {
  font-size: 24px;
  padding: 30px;
  border-radius: 50px;
  text-align: center;
  margin-bottom: 10px;
  background-color: #a98467;
}

.www {
  color: red;
}

.in-bilde {
  text-align: center;
  color: #a98467;
  margin: 20px;
  font-size: 30px;
}
