.author {
  display: block;
  margin-right: auto;
  margin-left: auto;
  img {
    width: 300px;
    border-radius: 150px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  }
  .fir__section {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin: 30px;
    .card:nth-child(1){
        max-width: 400px;
    }
    .card:nth-child(2){
        max-width: 400px;
    }
    .card {
      max-width: 360px;
      margin: 0 30px;
      text-align: center;
      width: 400px;
      .name {
        font-size: 26px;
        margin: 20px;
        margin-bottom: 0;
      }
      .email {
        color: #312e93;
        font-size: 20px;
        margin-bottom: 20px;
      }
    }
  }
}
