body {
  background-color: #f0ead2;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  color: #121212;
  background-color: #B5E48C;
  /* width: 20wh; */
}

ul{
  margin-bottom: 10px;
}

li {
  text-indent: 30px;
  cursor: pointer;
}
